{% extends 'project/base.html' %} 

{% block content %} 



<form method="post">
    {% csrf_token %}

<div class="form-error" style="list-style: none;
padding: 0;
color: #CC0000;">{{ form.non_field_errors }}</div>

{% for f in form %}
<p><label class="form-label"style=" display: inline-block;
    min-width: 100px;
    vertical-align: top; color: rgb(243, 248, 248);" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error" style="list-style: none;
padding: 0;
color: #CC0000;">{{ f.errors }}</div>
{% endfor %}

    <button type="submit"  style=" min-width: 150px;
    font-size: 16px;">Войти</button>
</form>


    {% endblock %}